<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>

     <title>Stefano's Portfolio - Profile HTML Page</title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="Tooplate">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
     <link rel="apple-touch-icon" sizes="180x180" href="{% static 'mainsite/favicon/apple-touch-icon.png' %}">
     <link rel="icon" type="image/png" sizes="32x32" href="{% static 'mainsite/favicon/favicon-32x32.png' %}">
     <link rel="icon" type="image/png" sizes="16x16" href="{% static 'mainsite/favicon/favicon-16x16.png' %}">
     <link rel="manifest" href="{% static 'mainsite/favicon/site.webmanifest' %}">
     
     <link rel="stylesheet" href="{% static 'mainsite/css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'mainsite/css/all.min.css' %}">
     <link rel="stylesheet" href="{% static 'mainsite/css/owl.carousel.min.css' %}">
     <link rel="stylesheet" href="{% static 'mainsite/css/owl.theme.default.min.css' %}">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="{% static 'mainsite/css/w3.css' %}">
     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static 'mainsite/css/tooplate-ben-resume-style.css' %}">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body data-spy="scroll" data-target="#navbarNav" data-offset="50">

    <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">

            <a class="navbar-brand" href='{% url "index" %}'>
                Portfolio Stefano Lacorazza
           </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a href="#intro" class="nav-link smoothScroll">Introduction</a>
                    </li>

                    <li class="nav-item">
                        <a href="#part1" class="nav-link smoothScroll">Step 1</a>
                    </li>

                    <li class="nav-item">
                        <a href="#part2" class="nav-link smoothScroll">Step 2</a>
                    </li>

                    <li class="nav-item">
                        <a href="#part3" class="nav-link smoothScroll">Step 3</a>
                    </li>
                    <li class="nav-item">
                        <a href="#part4" class="nav-link smoothScroll">Step 4</a>
                    </li>
                    <li class="nav-item">
                        <a href="#final" class="nav-link smoothScroll">Predictor</a>
                    </li>
                </ul>


            </div>

        </div>
    </nav>



    <section class="about section-padding" id="intro">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-md-6 col-12">
                    <h3 class="mb-4">Word cloud generator from Whatsapp chat</h3>
                    <div class="col-lg-4 col-md-4 col-12">
                        <h3>Showcased Skills</h3>
                        <p><ul>
                          <li>Python</li>
                          <li>Data processing</li>
                          <li>Natural Language Processing (NLP)</li>
                          <li>Data Visualization</li>
                        </ul></p>

                    </div>

                    
            </div>

                    <p>As a data enthusiast with a deep passion for exploring the hidden insights within text data, I embarked on a captivating personal project that started as a simple curiosity - creating a word cloud from the chat conversations with my wife. Little did I know that this initial experiment would lead to an exciting online tool that empowers people to delve into the essence of their conversations through data science. The journey of turning a whimsical idea into a practical application has been both rewarding and enlightening, and I am thrilled to share the story of this transformative project.</p>
                    <p>The idea to create a word cloud of our chat conversations with my wife sparked during a nostalgic moment when I was scrolling through our messages and reminiscing about the beautiful memories we've shared over the years. I realized that visualizing our most frequently used words could capture the essence of our relationship in a unique and artistic manner. So, I decided to experiment with Python's powerful libraries, such as NLTK and WordCloud, to craft a captivating word cloud that showcased the words that resonated most with us.</p>
        </div>
    </div>
    
    </section>


    <section class="about section-padding" id="part1">
        <div class="container">
            

            <div class="col-lg-12 col-md-6 col-12">
            <h3 class="w3-xlarge">Step 1: Gathering data</h3>
                <p>With the vi a sample of the pre-processed data</p>
                    </div>
                </section>        

    <section class="about section-padding" id="part2">     
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-md-6 col-12">  
                    <h3 class="w3-xlarge">Step 2: Cleaning the data</h3>
                    <p>With the dataset in ynamics. </p>
                    
                       
                        </section> 
                        <section class="about section-padding" id="part3">     
                            <div class="container">
                                <div class="row">
                
                                <div class="col-lg-12 col-md-6 col-12">
                          <h3 class="w3-xlarge">Step 3: Training the model</h3>
                          
                    <p>With the refined dataset in hand, I (SVM).</p>

                    </div></div></div>

                    <section class="about section-padding" id="part4">     
                        <div class="container">
                            <div class="row">

                        <h3 class="w3-xlarge">Step 4: Analize the results</h3>
                        <div class="container">
                            <div class="row">
                
                                <div class="col-lg-12 col-md-6 col-12">
                    <p>
                        With the modecting rental rates.
                    </p>
                    
                </div>

            </div></div></div>
            <section class="about section-padding" id="final">     
                <div class="container">
                    <div class="row">
        
                        <div class="col-lg-12 col-md-6 col-12">
                    <h3 class="w3-xlarge">Finished word cloud generator</h3>
                 
                <form action='{% url "project3main" %}' method="POST">
                    {% csrf_token %}
                    {{ form }}

                    
                    <input type="submit" value="Submit" Name="FF">
                    
                </form>
                {{ data|safe }}
                <img src="data:image/png;base64,{{ data }}" alt="" height="250" ,width="250">

            </div></div></div></div>
            
            </div>
        </div>
    </section>


    
</div>


     <section class="contact section-padding pt-0" id="contact">
      <div class="container">
        <div class="row">

          </div>

            <div class="mx-auto col-lg-4 col-md-6 col-12">
                <h3 class="my-4 pt-4 pt-lg-0">Contact me</h3>

                <p class="mb-1">+57 3112873140</p>

                <p>
                    <a href="mailto: stefano.lacorazza@gmail.com" >
                        Stefano.lacorazza@gmail.com
                    <i class="fas fa-arrow-right custom-icon"></i>
                    </a>
                </p>

                <ul class="social-links mt-2">
                    <li><a href="https://www.facebook.com/stefano.lacorazza" rel="noopener" class="fa fa-facebook"></a></li>
                    <li><a href="https://www.linkedin.com/in/stefano-lacorazza/" rel="noopener" class="fa fa-linkedin"></a></li>
                    <li><a href="https://github.com/stefano-lacorazza" rel="noopener" class="fa fa-github"></a></li>
                    
                </ul>
        
            </div>

        </div>
      </div>
    </section>
     <!-- SCRIPTS -->
     <script src="{% static 'mainsite/js/jquery.min.js' %}"></script>
     <script src="{% static 'mainsite/js/bootstrap.min.js' %}"></script>
     <script src="{% static 'mainsite/js/smoothscroll.js' %}"></script>
     <script src="{% static 'mainsite/js/owl.carousel.min.js' %}"></script>
     <script src="{% static 'mainsite/js/custom.js' %}"></script>
     

</body>
</html>