<!DOCTYPE html>
<html lang="en">
  {% load static %}
  {% load crispy_forms_tags %}
<head>

     <title>QR Code Extractor</title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="Tooplate">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
     <link rel="apple-touch-icon" sizes="180x180" href="{% static 'mainsite/favicon/apple-touch-icon.png' %}">
     <link rel="icon" type="image/png" sizes="32x32" href="{% static 'mainsite/favicon/favicon-32x32.png' %}">
     <link rel="icon" type="image/png" sizes="16x16" href="{% static 'mainsite/favicon/favicon-16x16.png' %}">
     <link rel="manifest" href="{% static 'mainsite/favicon/site.webmanifest' %}">
     
     <link rel="stylesheet" href="{% static 'mainsite/css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'mainsite/css/all.min.css' %}">
     <link rel="stylesheet" href="{% static 'mainsite/css/owl.carousel.min.css' %}">
     <link rel="stylesheet" href="{% static 'mainsite/css/owl.theme.default.min.css' %}">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="{% static 'mainsite/css/w3.css' %}">
     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static 'mainsite/css/tooplate-ben-resume-style.css' %}">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body data-spy="scroll" data-target="#navbarNav" data-offset="50">

    <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">

            <a class="navbar-brand" href='{% url "index" %}'>
                QR Code Extractor by Stefano Lacorazza
           </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a href="#intro" class="nav-link smoothScroll">Process</a>
                    </li>

                    <li class="nav-item">
                        <a href="#part1" class="nav-link smoothScroll">Extractor</a>
                    </li>

                    <li class="nav-item">
                        <a href="#part2" class="nav-link smoothScroll">Repository</a>
                    </li>
                </ul>
                <div class="mt-lg-0 mt-3 mb-4 mb-lg-0">
                    <a href="{% static 'mainsite/Files/MyResume.pdf' %}" class="custom-btn btn" download="CV">Download CV</a>
                </div>

            </div>

        </div>
    </nav>



    <section class="about section-padding" id="intro">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-md-6 col-12">
                    <h3 class="mb-4">QR code detector using Machine Learning
                    </h3>
                    <div class="col-lg-4 col-md-4 col-12">
                        <h3>Showcased Skills</h3>
                        <p><ul>
                          <li>Python</li>
                          <li>Data processing</li>
                          <li>Machine Learning</li>
                          <li>Deep Learning</li>
                        </ul></p>

                    </div>
                </div>
                <div class="col-lg-12 col-md-6 col-12"></div>
                    <p>This project started as a tecnical challenge by well-regarded digital solutions company. At first, it was a bit overwhelming, and
                         I didn't know where to begin. So, I decided to look up information online to get a better idea of how to tackle this challenge.

                        I searched the internet to find articles, papers, and tutorials related to QR code detection. 
                        As I learned more, I realized that I needed to create a step-by-step plan to solve the QR code detection puzzle. This plan
                         would involve using algorithms and models to process images and locate QR codes.
                    </p>
                </div>
            </div>
        </div>
    </section>


    <section class="about section-padding" id="part1">
        <div class="container">
            

            <div class="col-lg-12 col-md-6 col-12">
                <h3 class="w3-xlarge">Step 1: Data Collection:</h3>
                <p>The project commenced with the intriguing task of gathering QR code images from the vast expanse of the internet. 
                    Additionally, I reached out to friends, urging them to contribute any QR images they might have. This collaborative 
                    data collection process laid the foundation for a diverse and comprehensive dataset.</p>
                    <p>The initial database contained just 50 images, each hosting QR codes in different orientations—a modest yet promising beginning.</p>
                    You can find here the first batch of images.</p>
                    <p>These images served as the project's foundation, showcasing QR codes in various contexts. With this 
                        starting point, I was ready to move on to preprocessing, feature extraction, and model selection, each step 
                        building the ultimate objective of a robust QR extractor application.</p>
            </div>
        </div>
    </section>        

    <section class="about section-padding" id="part2">     
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-md-6 col-12">  
                    <h3 class="w3-xlarge">Step 2: Preprocessing</h3>
                    <p>My initial approach was to harness the capabilities of the OpenCV library, a versatile tool renowned in
                         the area of computer vision. The initial steps involved applying Gaussian blur to refine image quality by 
                         mitigating noise and imperfections. Subsequently, grayscale conversion simplified visual complexity, enhancing
                          QR code prominence against diverse backgrounds.</p>
                    <p>Aiming for consistency, images underwent rescaling to a standardized dimension, aligning disparate sizes for
                         uniformity. Further optimization took form through pixel binarization, where pixels were transformed into
                         binary values using a threshold, accentuating QR code edges. As these preprocessing layers converged, 
                         I approached feature extraction with confidence of my efforts.</p>
                    <p>However, in the subsequent phase, a remarkable discovery reshaped my trajectory. An online tool that 
                        streamlined preprocessing effortlessly. This tool seamlessly integrated into the process, rendering my 
                        OpenCV endeavors as just a valuable learning experience.</p>
                        
                </div> 
            </div>
        </div>     
    </section> 

    <section class="about section-padding" id="part3">     
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-12">
                    <h3 class="w3-xlarge">Step 3: Feature Extraction</h3>
                          
                    <p>Upon entering the task of feature extraction, a clear step emerged: the need to capture the x and y coordinates
                         of each corner for each QR code across the 50 images. This task appeared time-intensive and potentially 
                         deadline-threatening. In search of solutions, the internet led me to Roboflow—an online tool that seamlessly 
                         streamlined the process. This discovery rendered my earlier OpenCV efforts redundant, as Roboflow effortlessly
                          handled image preprocessing and automated dataset separation into training, validation, and testing.</p>
                        
                          <p> As I uploaded the images in roboflow’s dashboard, the process of labeling and annotating them became a
                            fluid process. With a drag of the mouse, rectangles could be drawn around the QR codes, and the 
                            corresponding coordinates were automatically captured and compiled into an exportable text file. 
                            This facilitated the extraction of vital data, necessary for the training of future models. </p>
                </div>
            </div>
        </div>
    </section>

    <section class="about section-padding" id="part4">     
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-12">
                    <h3 class="w3-xlarge">Step 4: Model Selection</h3>

                               
                        <p>
                            In the pursuit of identifying the most suitable model for the QR code extraction task, an exploratory 
                            journey unfolded. As I researched academic papers, articles, and discussions CNNs, with their deep 
                            hierarchical architectures, offered potential but appeared relatively complex for this task. Faster R-CNN 
                            and SSD showcased commendable capabilities in object detection, but an overarching consideration
                             remained—achieving both precision and speed, particularly given the real-time nature of QR code detection.
                        </p>
                        <p>Finally, the YOLO (You Only Look Once) model emerged as the clear choice. YOLO's ability to instantly 
                            detect objects within an image while maintaining noteworthy accuracy resonated with the project's vision. 
                            Its optimized design for real-time object detection made it an ideal candidate for rapid QR code
                             identification. </p>
                </div>
            </div>
        </div>
    </section>

    <section class="about section-padding" id="part5">     
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-12">
                    <h3 class="w3-xlarge">Step 5: Training</h3>
                        <p>
                            The phase of model training marked a significant stride in the project's evolution. Armed with the YOLO
                             model as the chosen one, a decision emerged, whether to build upon a pre-trained model or initiate
                              training from scratch. The consideration of leveraging a pre-trained model was alluring, promising a
                               head start by capitalizing on prior learning. However, the unique task of QR code detection required a 
                               level of specificity that warranted meticulous attention. Therefore, I embarked on the journey of
                                training a YOLO model from the ground up, ensuring its adaptation to the intricacies of QR code 
                                recognition.
                        </p>
                        <p>Then, another important choice awaited, the determination of the number of epochs. The trade-off between
                             accuracy and time was an important consideration knowing that this project had a deadline. While more 
                             epochs could potentially lead to heightened accuracy, they also extended the training duration,
                              challenging the project's timeline. Striking the optimal balance was essential. Anchored in the
                               understanding that training too long might lead to overfitting and diminishing returns.  </p>
                        <p>After careful consideration and experimentation, I found that training the YOLO model for 200 epochs 
                            struck an equilibrium. This choice stemmed from observing the performance-versus-epochs curve, recognizing
                             that beyond this threshold, further epochs yielded marginal improvements in accuracy. It was a strategic
                              decision that ensured an optimal balance between achieving higher accuracy and managing the time required
                               for model training. </p>
               
                    </div>
            </div>
        </div>
    </section>

    
    <section class="about section-padding" id="part6">     
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-12">
                    <h3 class="w3-xlarge">Step 6: Evaluation Testing and Optimization</h3>
                        <p>In the phase of evaluating, testing, and optimizing the trained YOLO model, the initial glimpses of 
                            progress were indeed promising. The model exhibited a commendable ability to identify QR codes within
                             images, yet an issue surfaced, over-identification. This revelation, evident from the confusion matrix,
                              which showed too many false positives and no false negatives, underscored a critical oversight in the
                               data collection process. Solely relying on images containing QR codes had inadvertently led the model 
                               to associate every image with a QR code.  </p>
                        <p> Recognizing the importance of a diverse dataset, I embarked on curating a new, more comprehensive image
                             database. This iteration encompassed 500 images, including those devoid of QR codes, in order to rectify 
                             the model's inclination toward over-identification.  To further bolster precision, the identification
                              threshold was elevated to 80%, designed to reduce false positives and enhance the model's discernment. </p>
                        <p>The culmination of these strategic adjustments bore fruits beyond expectation. The final result was a 
                            predictive model that wielded a remarkable 97.94% precision, a testament to the efficacy of iteration,
                             adaptation, and strategic thinking. 
                        </p>
               
                    </div>
            </div>
        </div>
    </section>
    <section class="about section-padding" id="part7">     
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-12">
                    <h3 class="w3-xlarge">Step 7: Code decoding</h3>
                        <p> For QR code decoding, I leveraged OpenCV's QRCodeDetector() function on the extracted images.
                             The integration proved seamless and effective, reliably revealing the hidden information within 
                             the detected QR codes. This efficient application showcased the practical synergy between OpenCV's 
                    </div>
            </div>
        </div>
    </section>
    

    <section class="about section-padding" id="final">     
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-12">
                    <h3 class="w3-xlarge">QR code extractor and decoder</h3>
                 
                <form action='{% url "project4main" %}' method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}

                    
                    <input type="submit" value="Submit">
                    
                </form>

            </div></div></div></div>
            
            </div>
        </div>
    </section>


    
</div>


     <section class="contact section-padding pt-0" id="contact">
      <div class="container">
        <div class="row">

          </div>

            <div class="mx-auto col-lg-4 col-md-6 col-12">
                <h3 class="my-4 pt-4 pt-lg-0">By: Stefano Lacorazza</h3>

                <p class="mb-1">+57 3112873140</p>

                <p>
                    <a href="mailto: stefano.lacorazza@gmail.com" >
                        Stefano.lacorazza@gmail.com
                    <i class="fas fa-arrow-right custom-icon"></i>
                    </a>
                </p>

                <ul class="social-links mt-2">
                    <li><a href="https://www.facebook.com/stefano.lacorazza" rel="noopener" class="fa fa-facebook"></a></li>
                    <li><a href="https://www.linkedin.com/in/stefano-lacorazza/" rel="noopener" class="fa fa-linkedin"></a></li>
                    <li><a href="https://github.com/stefano-lacorazza" rel="noopener" class="fa fa-github"></a></li>
                    
                </ul>
        
            </div>

        </div>
      </div>
    </section>
     <!-- SCRIPTS -->
     <script src="{% static 'mainsite/js/jquery.min.js' %}"></script>
     <script src="{% static 'mainsite/js/bootstrap.min.js' %}"></script>
     <script src="{% static 'mainsite/js/smoothscroll.js' %}"></script>
     <script src="{% static 'mainsite/js/owl.carousel.min.js' %}"></script>
     <script src="{% static 'mainsite/js/custom.js' %}"></script>
     

</body>
</html>