<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>

     <title>Stefano's Portfolio - Profile HTML Page</title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="Stefano Lacorazza">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
     <link rel="apple-touch-icon" sizes="180x180" href="{% static 'mainsite/favicon/apple-touch-icon.png' %}">
     <link rel="icon" type="image/png" sizes="32x32" href="{% static 'mainsite/favicon/favicon-32x32.png' %}">
     <link rel="icon" type="image/png" sizes="16x16" href="{% static 'mainsite/favicon/favicon-16x16.png' %}">
     <link rel="manifest" href="{% static 'mainsite/favicon/site.webmanifest' %}">
     
     <link rel="stylesheet" href="{% static 'mainsite/css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'mainsite/css/all.min.css' %}">
     <link rel="stylesheet" href="{% static 'mainsite/css/owl.carousel.min.css' %}">
     <link rel="stylesheet" href="{% static 'mainsite/css/owl.theme.default.min.css' %}">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static 'mainsite/css/tooplate-ben-resume-style.css' %}">
     

</head>

<body data-spy="scroll" data-target="#navbarNav" data-offset="50">

    <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">

            <a class="navbar-brand" href="#">
                 Portfolio Stefano Lacorazza
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a href="#intro" class="nav-link smoothScroll">Introduction</a>
                    </li>

                    <li class="nav-item">
                        <a href="#about" class="nav-link smoothScroll">Why hire me?</a>
                    </li>

                    <li class="nav-item">
                        <a href="#testimonials" class="nav-link smoothScroll">Projects</a>
                    </li>

                    <li class="nav-item">
                        <a href="#contact" class="nav-link smoothScroll">Contact</a>
                    </li>
                </ul>

                <div class="mt-lg-0 mt-3 mb-4 mb-lg-0">
                    <a href="{% static 'mainsite/Files/MyResume.pdf' %}" class="custom-btn btn" download="CV">Download CV</a>
                </div>
            </div>

        </div>
    </nav>


    <!-- HERO -->
    <section class="hero d-flex flex-column justify-content-center align-items-center" id="intro">

         <div class="container">
            <div class="row">

                  <div class="mx-auto col-lg-5 col-md-5 col-10">
                      <img src="{% static 'mainsite/images/Stefano.jpg' %}" class="img-fluid">
                  </div>

                   <div class="d-flex flex-column justify-content-center align-items-center col-lg-7 col-md-7 col-12">
                        <div class="hero-text">

                            <h1 class="hero-title"> Stefano Lacorazza, developer</h1>

                            <a href="mailto: stefano.lacorazza@gmail.com" class="email-link">
                                stefano.lacorazza@gmail.com
                            </a>
                          
                        </div>
                    </div>

            </div>
        </div>
    </section>


    <section class="about section-padding" id="about">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-6 col-12">
                    <h3 class="mb-4">Why choose me?</h3>

                    <p>I'm a physicist with ample experience as an educator. My solid grasp of mathematics and statistics, acquired during my studies, provides me with a strong foundation for approaching analytical problems. I have developed strong skills in effective communication in conveying complex concepts clearly. Teaching has also strengthened my problem-solving abilities and adaptability, which are valuable assets when tackling new challenges. 
                        As a development professional, I have notable expertise in designing and producing web applications. This includes back-end development using Python and Django, as well as front-end implementation with a mastery of essential tools such as HTML, JavaScript, CSS, and React.</p>

                             <p>I have an advance expertice in the following tools: Python, R, SQL, Django, Html, CSS, Javascript and Git.</p>



                    <ul class="mt-4 mb-5 mb-lg-0 profile-list list-unstyled">
                        <li><strong>Full Name :</strong> Stefano Lacorazza Buitrago</li>

                        <li><strong>Email :</strong> stefano.lacorazza@gmail.com</li>

                        <li><strong>Github :</strong> <a  href="https://github.com/stefano-lacorazza" target="_blank">@stefano-lacorazza</a>  <a href="https://github.com/stefano-lacorazza" rel="noopener" class="fa fa-github"></a></li>
                        
                        <li><strong>Linkedin :</strong> <a  href="https://www.linkedin.com/in/stefano-lacorazza/" target="_blank">@stefano-lacorazza</a>  <a href="https://www.linkedin.com/in/stefano-lacorazza/" rel="noopener" class="fa fa-linkedin"></a></li>
                    
                    </ul>
                </div>

                <div class="col-lg-5 mx-auto col-md-6 col-12">
                    <img src="{% static 'mainsite/images/puesto.jpg' %}" class="about-image img-fluid" alt="Ben's Resume HTML Template">
                </div>

            </div>
            
            <div class="row about-third">
            	<div class="col-lg-4 col-md-4 col-12">
                <h3>Accomplishments</h3>
                <p><ul>
                  <li>Physics major in Universidad de los Andes</li>
                  <li>Mathematics minor in Universidad de los Andes</li>
                  <u>
                  <li><a  href="https://www.coursera.org/account/accomplishments/specialization/certificate/EECBRAZVVVKF" target="_blank">Python for Everybody Specialization</a></li>
                  <li><a  href="https://www.coursera.org/account/accomplishments/specialization/certificate/6SXG2S7ZXYNS" target="_blank">Django for Everybody Specialization</a></li>
                  <li><a  href="https://www.coursera.org/account/accomplishments/specialization/certificate/VCQXQPHNMDWV" target="_blank">Applied Data Science with Python Specialization</a></li>
                  <li><a  href="https://www.coursera.org/account/accomplishments/certificate/2NZTX27BKCP7" target="_blank">Data Analysis with R Programming</a></li>
                </u>
                </ul>
                
                </p>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                <h3>Skills</h3>
                <p><ul>
                  <li>Python</li>
                  <li>Html</li>
                  <li>Django</li>
                  <li>R</li>
                  <li>SQL</li>
                  <li>JavaScript</li>
                  <li>React</li>
                </ul></p>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                <h3>Interpersonal skills</h3>
                <p><ul>
                  <li>Leadership</li>
                  <li>Empathy</li>
                  <li>Public speaking</li>
                  <li>Effective communication skills</li>
                  <li>Attention to detail</li>
                </ul></p>
                </div>
            </div>
        </div>
    </section>


    <!-- Projects -->
     <section class="testimonials section-padding" id="testimonials">
          <div class="container">
               <div class="row">

                    <div class="col-12">
                        <h3 class="mb-5 text-center">Personal Projects</h3>

                        <div class="owl-carousel owl-theme" id="testimonials-carousel">
                            <div class="item">
                                <div class="testimonials-thumb d-flex">
                                    <div class="testimonials-image">
                                        <a  href="/project3">
                                        <img src="{% static 'mainsite/images/Projects/project3.png' %}" class="img-fluid" alt="testimonials image"></a>
                                    </div>

                                    <div class="testimonials-info">
                                        <p>Websites and Webapps</p>

                             
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonials-thumb d-flex">
                                    <div class="testimonials-image">
                                        <a  href="/project1">
                                        <img  src="{% static 'mainsite/images/Projects/project1.png' %}" class="img-fluid" alt="testimonials image"></a>
                                    </div>

                                    <div class="testimonials-info">
                                        <p>Analysis of fuel sells in Colombia</p>

              
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="testimonials-thumb d-flex">
                                    <div class="testimonials-image">
                                        <a  href="/project2">
                                        <img src="{% static 'mainsite/images/Projects/project2.jpg' %}" class="img-fluid" alt="testimonials image"></a>
                                    </div>

                                    <div class="testimonials-info">
                                        <p>Rent price prediction in Colombia</p>

                                        
                                    </div>
                                </div>
                            </div>

                 


                    </div>

               </div>
          </div>
     </section>



     <section class="contact section-padding pt-0" id="contact">
      <div class="container">
        <div class="row">

          </div>

            <div class="mx-auto col-lg-4 col-md-6 col-12">
                <h3 class="my-4 pt-4 pt-lg-0">Contact me</h3>

                <p class="mb-1">+57 3112873140</p>

                <p>
                    <a href="mailto: stefano.lacorazza@gmail.com" >
                        Stefano.lacorazza@gmail.com
                    <i class="fas fa-arrow-right custom-icon"></i>
                    </a>
                </p>

                <ul class="social-links mt-2">
                    <li><a href="https://www.facebook.com/stefano.lacorazza" rel="noopener" class="fa fa-facebook"></a></li>
                    <li><a href="https://www.linkedin.com/in/stefano-lacorazza/" rel="noopener" class="fa fa-linkedin"></a></li>
                    <li><a href="https://github.com/stefano-lacorazza" rel="noopener" class="fa fa-github"></a></li>
                    
                </ul>
        
            </div>

        </div>
      </div>
    </section>
     <!-- SCRIPTS -->
     <script src="{% static 'mainsite/js/jquery.min.js' %}"></script>
     <script src="{% static 'mainsite/js/bootstrap.min.js' %}"></script>
     <script src="{% static 'mainsite/js/smoothscroll.js' %}"></script>
     <script src="{% static 'mainsite/js/owl.carousel.min.js' %}"></script>
     <script src="{% static 'mainsite/js/custom.js' %}"></script>
     

</body>
</html>